USE [master]
GO
/****** Object:  Database [Operador911]    Script Date: 29/10/2025 20:51:30 ******/
CREATE DATABASE [Operador911]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Operador911', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Operador911.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Operador911_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Operador911_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Operador911].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Operador911]
GO
/****** Object:  Table [dbo].[Alerta]    Script Date: 29/10/2025 20:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerta](
	[id_alerta] [int] IDENTITY(1,1) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[importancia] [varchar](10) NOT NULL,
	[tipo_incidencia] [varchar](100) NOT NULL,
	[direccion] [varchar](150) NOT NULL,
	[fecha_cierre] [datetime] NULL,
	[id_usuario] [int] NOT NULL,
	[id_patrulla] [int] NULL,
	[id_canal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Canal]    Script Date: 29/10/2025 20:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canal](
	[id_canal] [int] IDENTITY(1,1) NOT NULL,
	[tipo_canal] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_canal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comisaria]    Script Date: 29/10/2025 20:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comisaria](
	[id_comisaria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[direccion] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[latitud] [float] NOT NULL,
	[longitud] [float] NOT NULL,
	[id_usuario_comisario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comisaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Llamada]    Script Date: 29/10/2025 20:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Llamada](
	[id_llamada] [int] IDENTITY(1,1) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[nombre] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[id_alerta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_llamada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patrulla]    Script Date: 29/10/2025 20:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patrulla](
	[id_patrulla] [int] IDENTITY(1,1) NOT NULL,
	[codigo_patrulla] [varchar](20) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[id_comisaria] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_patrulla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_patrulla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policia]    Script Date: 29/10/2025 20:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policia](
	[nro_placa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[id_comisaria] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[genero] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 29/10/2025 20:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[id_reporte] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](2000) NULL,
	[id_alerta] [int] NOT NULL,
	[id_patrulla] [int] NOT NULL,
	[nro_placa] [int] NOT NULL,
	[id_planilla] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiene]    Script Date: 29/10/2025 20:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiene](
	[id_patrulla] [int] NOT NULL,
	[nro_placa] [int] NOT NULL,
	[dia_semana] [varchar](10) NULL,
	[turno] [varchar](10) NULL,
	[id_planilla] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Tiene] PRIMARY KEY CLUSTERED 
(
	[id_planilla] ASC,
	[id_patrulla] ASC,
	[nro_placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 29/10/2025 20:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[id_ubicacion] [int] IDENTITY(1,1) NOT NULL,
	[id_patrulla] [int] NULL,
	[latitud] [float] NOT NULL,
	[longitud] [float] NOT NULL,
	[orden] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 29/10/2025 20:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[DNI] [int] NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contraseña] [varchar](300) NOT NULL,
	[rol] [nvarchar](20) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alerta] ADD  DEFAULT ('En Espera') FOR [estado]
GO
ALTER TABLE [dbo].[Llamada] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Patrulla] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Policia] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD  CONSTRAINT [FK_Alerta_Canal] FOREIGN KEY([id_canal])
REFERENCES [dbo].[Canal] ([id_canal])
GO
ALTER TABLE [dbo].[Alerta] CHECK CONSTRAINT [FK_Alerta_Canal]
GO
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD  CONSTRAINT [FK_Alerta_Patrulla] FOREIGN KEY([id_patrulla])
REFERENCES [dbo].[Patrulla] ([id_patrulla])
GO
ALTER TABLE [dbo].[Alerta] CHECK CONSTRAINT [FK_Alerta_Patrulla]
GO
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD  CONSTRAINT [FK_Alerta_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Alerta] CHECK CONSTRAINT [FK_Alerta_Usuario]
GO
ALTER TABLE [dbo].[Comisaria]  WITH CHECK ADD  CONSTRAINT [FK_Comisaria_UsuarioComisario] FOREIGN KEY([id_usuario_comisario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Comisaria] CHECK CONSTRAINT [FK_Comisaria_UsuarioComisario]
GO
ALTER TABLE [dbo].[Llamada]  WITH CHECK ADD FOREIGN KEY([id_alerta])
REFERENCES [dbo].[Alerta] ([id_alerta])
GO
ALTER TABLE [dbo].[Patrulla]  WITH CHECK ADD  CONSTRAINT [FK_Patrulla_Comisaria] FOREIGN KEY([id_comisaria])
REFERENCES [dbo].[Comisaria] ([id_comisaria])
GO
ALTER TABLE [dbo].[Patrulla] CHECK CONSTRAINT [FK_Patrulla_Comisaria]
GO
ALTER TABLE [dbo].[Policia]  WITH CHECK ADD  CONSTRAINT [FK_Policia_Comisaria] FOREIGN KEY([id_comisaria])
REFERENCES [dbo].[Comisaria] ([id_comisaria])
GO
ALTER TABLE [dbo].[Policia] CHECK CONSTRAINT [FK_Policia_Comisaria]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [FK_Reporte_Alerta] FOREIGN KEY([id_alerta])
REFERENCES [dbo].[Alerta] ([id_alerta])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [FK_Reporte_Alerta]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [FK_Reporte_Tiene] FOREIGN KEY([id_planilla], [id_patrulla], [nro_placa])
REFERENCES [dbo].[Tiene] ([id_planilla], [id_patrulla], [nro_placa])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [FK_Reporte_Tiene]
GO
ALTER TABLE [dbo].[Tiene]  WITH CHECK ADD  CONSTRAINT [PK_Tiene_Patrulla] FOREIGN KEY([id_patrulla])
REFERENCES [dbo].[Patrulla] ([id_patrulla])
GO
ALTER TABLE [dbo].[Tiene] CHECK CONSTRAINT [PK_Tiene_Patrulla]
GO
ALTER TABLE [dbo].[Tiene]  WITH CHECK ADD  CONSTRAINT [PK_Tiene_Policia] FOREIGN KEY([nro_placa])
REFERENCES [dbo].[Policia] ([nro_placa])
GO
ALTER TABLE [dbo].[Tiene] CHECK CONSTRAINT [PK_Tiene_Policia]
GO
ALTER TABLE [dbo].[Ubicacion]  WITH CHECK ADD FOREIGN KEY([id_patrulla])
REFERENCES [dbo].[Patrulla] ([id_patrulla])
GO
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD  CONSTRAINT [CK__Alerta__estado__71D1E811] CHECK  (([estado]='Atendida' OR [estado]='Asignada' OR [estado]='En Espera'))
GO
ALTER TABLE [dbo].[Alerta] CHECK CONSTRAINT [CK__Alerta__estado__71D1E811]
GO
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD CHECK  (([importancia]='Alta' OR [importancia]='Media' OR [importancia]='Baja'))
GO
ALTER TABLE [dbo].[Canal]  WITH CHECK ADD CHECK  (([tipo_canal]='Boton de Panico' OR [tipo_canal]='Alerta' OR [tipo_canal]='Camara'))
GO
ALTER TABLE [dbo].[Patrulla]  WITH CHECK ADD CHECK  (([tipo]='Camioneta' OR [tipo]='Moto' OR [tipo]='Auto'))
GO
ALTER TABLE [dbo].[Patrulla]  WITH CHECK ADD  CONSTRAINT [CK_Patrulla_Estado] CHECK  (([estado]='En Servicio' OR [estado]='En Base' OR [estado]='Ocupado'))
GO
ALTER TABLE [dbo].[Patrulla] CHECK CONSTRAINT [CK_Patrulla_Estado]
GO
ALTER TABLE [dbo].[Policia]  WITH CHECK ADD CHECK  (([genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[Tiene]  WITH CHECK ADD CHECK  (([dia_semana]='Domingo' OR [dia_semana]='Sábado' OR [dia_semana]='Viernes' OR [dia_semana]='Jueves' OR [dia_semana]='Miércoles' OR [dia_semana]='Martes' OR [dia_semana]='Lunes'))
GO
ALTER TABLE [dbo].[Tiene]  WITH CHECK ADD CHECK  (([turno]='18-06' OR [turno]='06-18'))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Rol] CHECK  (([rol]='Jefe Operador' OR [rol]='Operador' OR [rol]='Comisario'))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_Rol]
GO
USE [master]
GO
